body {
    background-color: silver;
    margin: 0 auto;
}

#game {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .row {
    display: flex;
    flex-direction: row;
  }
  
  .cell {
    width: 100px;
    height: 100px;
    border: 2px solid black;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .cell:hover {
    background-color: lightgray;
  }

  #reset {
    margin: 80px auto;
    background-color: blue;
    padding: 20px;
    color: white;
    border: none;
    border-radius:7px;
  }

 
  #custom-alert {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 1px solid #000;
    padding: 20px;
    text-align: center;
  }
  #custom-alert-message {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  #custom-alert-button {
    font-size: 18px;
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  